*{
        --background-color: #FEBAAD
        --navbar-color: linear-gradient(to right, #ff1d58, #fcd200);
        --container-color:  #fff;
        --font-color: #000;
        font-family: sans-serif;

}
