/* ----------------- Global settings ------------------- */

a {
    /* Disable decoration for all links */
    text-decoration: none;
}

img {
    /* Make images fill the entire container */
    height: 100%;
    width: 100%;
}

body {
    /* Background color */
    background-color: var(--background-color);

    /* Make body fill the whole screen */
    width: 100vw;
    height: 100vh;
    margin: 0;
}

/* --------------- Everything below navbar --------------- */

#below-navbar {
    /* Fill the rest of the screen */
    height: calc(100% - 55px);
    width: 100%;

    /* Center container */
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    /* Color of the container */
    background-color: var(--container-color);
    
    /* Container size */
    box-sizing: border-box;
    height: 95%;
    width: 90%;
    padding: 10px;

    /* Round corners */
    border-radius: 20px;

    /* Display content in a grid */
    display: grid;
    grid-template-rows: 80px 100px calc(100% - 180px);
    grid-template-columns: 33% 34% 33%;
}

/* ------------------- Challenge name ------------------------ */

#challenge-name {
    /* Position in the grid */
    grid-column: 1 / 4;
    grid-row: 1;
}

#challenge-name-field {
    /* Background */
    border-radius: 10px;
    background-color: var(--rect-color);
    height: 100%;

    /* Font settings */
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
}

/* ------------------------- Author -------------------------- */

#author-name {
    /* Position in the grid */
    grid-column: 1;
    grid-row: 2;

    /* Padding */
    padding: 10px 0;
}

#author-name-field {
    /* Background */
    border-radius: 10px;
    background-color: var(--rect-color);
    height: 100%;

    /* Font settings */
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
}

a:hover > #author-name-field {
    background: var(--selection-background);
}

/* --------------------------- Goal -------------------------- */

#goal {
    /* Position in the grid */
    grid-column: 2;
    grid-row: 2;

    /* Padding */
    padding: 10px 5px;
}

#goal-field {
    /* Background */
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--rect-color);
    height: 100%;

    /* Padding */
    padding: 5px;

    /* Centering vertically */
    display: flex;
    align-content: center;
    justify-content: center;
}

#discipline-img-container {
    /* Make img a rectangle */
    height: 70px;
    width: 70px;

    padding-right: 15px;
}

#goal-field-text {
    line-height: 70px;

    /* Font settings */
    font-size: 25px;
    font-weight: bold;
}

/* -------------------------- Time --------------------------- */

#time {
    /* Position in the grid */
    grid-column: 3;
    grid-row: 2;

    /* Padding */
    padding: 10px 0;
}

#time-field {
    /* Background */
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--rect-color);
    height: 100%;

    /* Font settings */
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
}

/* ------------------------- Users -------------------------------- */

#users {
    /* Position in the grid */
    grid-column: 1 / 4;
    grid-row: 3;
}

#users-flexbox {
    /* Height */
    height: 100%;

    /* Flexbox */
    display: flex;
    flex-direction: column;

    overflow: auto;
}

.users-box-elem {
    padding: 5px 0;
    width: 100%;
    height: 100px;

    position: relative;
}

.users-box-elem-link {
    /* Background */
    background: var(--rect-color);
    border-radius: 10px;

    /* Size */
    height: 100%;
    width: 100%;

    /* Centering vertically */
    display: flex;
    align-items: center;
}

.users-box-elem > a:hover > .users-box-elem-progress-bar {
    width: 100% !important;
}

.users-box-elem-progress-bar {
    background: var(--selection-background);
    border-radius: 10px;

    height: 100px;

    position: absolute;
    z-index: 998;
}

.users-box-elem-link > .pfp-container {
    width: 80px;
    height: 80px;
    margin-left: 5px;
    margin-right: 25px;

    border-radius: 50%;
    border: 3px solid black;
    overflow: hidden;

    z-index: 999;
}

.users-box-elem-link > .user-name-field {
    line-height: 100px;
    height: 100%;
    z-index: 999;

    font-size: 40px;
}
