/* ---------------- Navbar ---------------------- */

#navbar {
    /* Navbar background */
    background: var(--navbar-background);

    /* Height of the navbar */
    height: 55px;
}

#navbar a {
    text-decoration: none;
}

#navbar > nav {
    /* Size */
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 5px 10px;

    /* Positions of items */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar > nav > a > .logo {
    /* Size of the logo together with text */
    font-size: 30px;
    height: 50px;

    /* Center items in the logo */
    display: flex;
    align-items: center;

    /* For changing color of the logo img */
    position: relative;
}

#navbar > nav > a > .logo > #logo-text {
    font-weight: bolder;
}

#navbar > nav > a > .logo > img {
    /* Logo size */
    width: 45px;
    height: 45px;

    /* Space between img and text in the logo */
    margin-right: 5px;
}

#navbar > nav > a > .logo > #logo-icon-normal {
    position: absolute;
    z-index: 999;
}

#navbar > nav > a > .logo:hover > #logo-icon-normal {
    opacity: 0;
}

#navbar > nav > a > .logo > #logo-icon-hover {
    z-index: 998;
}

#navbar > nav > a > .logo:hover > #logo-text {
    color: #51565E;
}

#navbar > nav > ol {
    /* Size */
    height: 100%;
    line-height: 100%;
    margin: 0;
    padding: 0;

    /* Make list a flexbox */
    display: flex;

    /* Disable list decoration */
    list-style: none;
}

#navbar > nav > ol > li {
    margin: 0;
}

#navbar > nav > ol > li > a {
    /* Font settings */
    font-weight: bolder;
    font-size: 20px;
    line-height: 50px;

    /* Zero margins and space between options */
    margin: 0 20px;
    padding: 0;
}

#navbar > nav > ol > li > a:hover {
    color: #51565E;
}

#navbar > nav > .search_box {
    /* Size */
    height: 40px;

    /* Center vertically */
    display: flex;
    align-items: center;
}

#navbar > nav > .search_box > input {
    /* Search bar colors */
    background-color: #1e232b;
    color: white;

    /* Size */
    box-sizing: border-box;
    font-size: 20px;
    width: 300px;
    height: 100%;
    padding: 0 5px;

    /* Border settings */
    border: solid black 2px;
    border-radius: 10px;

    /* Space between items */
    margin-right: 2px;
}

#navbar > nav > .search_box > a > .fa-search {
    /* Search button colors */
    background: #1e232b;
    color: #fff;

    /* Size */
    height: 20px;
    width: 20px;
    padding: 8px;
    font-size: 20px;

    /* Center the search symbol */
    text-align: center;
    line-height: 20px;

    /* Border description */
    border: solid black 2px;
    border-radius: 10px;
}

#navbar > nav > .search_box > a > .fa-search:hover {
    background-color: #df1d58;
}