<html>
    <head>
        <title> Login and registration</title>
        <link rel="stylesheet" type="text/css" href="../../style/css/global-style.css">
        <link rel="stylesheet" type="text/css" href="../../style/css/navbar-style.css" />
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="script.js"></script>
        <script src="https://kit.fontawesome.com/67c66657c7.js"></script>
    </head>
    <body>
        <div id="navbar">
            <nav>
                <a href="#"><div class="logo">Egzomondo</div></a>
                <ol>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Log in</a></li>
                </ol>
                <div class="search_box">
                    <input type="search" placeholder="Search">
                    <a href="#"><span class="fa fa-search"></span></a>
                </div>
            </nav>
        </div>
        <div class="main-box">
            <div class="form-box">
                <div class="button-box">
                    <div id="btn"></div>
                    <button type="button" class="toggle-btn" onclick="login()">Log in</button>
                    <button type="button" class="toggle-btn" onclick="register()">Register</button>
                </div>
                <form id="login" class="input-group">
                    <input type="text" class="input-field" placeholder="User id" required>
                    <input type="text" class="input-field" placeholder="Enter password" required>
                    <input type="checkbox" class="check-box"><span class="span-log">Remember Password</span>
                    <button type="submit" class="submit-btn">Log in</button>
                </form>
                <form id="register" class="input-group">
                    <input type="text" class="input-field" placeholder="User id" required>
                    <input type="text" class="input-field" placeholder="Enter password" required> 
                    <input type="text" class="input-field" placeholder="Confirm password" required>
                    <input type="checkbox" class="check-box"><span class="span-reg">I agree to the terms and conditions</span>
                    <button type="submit" class="submit-btn">Register</button>
                </form>
            </div>
        </div>
    </body>
</html>
