* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
}

.main-box{
    height: calc(100% - 55px);
    width: 100%;
    background-color: var(--background-color);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box{
    box-shadow: var(--box-shadow-template);
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;
    overflow: hidden;
}

.button-box{
    box-sizing: border-box;
    width: 220px;
    height: 35px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn{
    box-sizing: border-box;
    padding: 10px 30px;
    width: 50%;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: absolute;
    top: 0;
}

.register-btn {
    left: 110px;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--navbar-background);
    border-radius: 30px;
    transition: .5s;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: var(--navbar-background);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box{
    margin: 30px 10px 30px 0px;
}

.span-log{
    width: 150%;
    color: black;
    bottom: 31%;
    font-size: 15px;
    position: absolute;
}

.span-forgotpwd{
    width: 150%;
    color: purple;
    left: 25%;
    bottom: -20%;
    font-size: 15px;
    position: absolute;
}

.forgotpwd-box{
    width: 380px;
    height: 200px;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;
    overflow: hidden;
}

.span-reg{
    width: 150%;
    color: black;
    bottom: 26.5%;
    font-size: 12px;
    position: absolute;
}

#login{
    left: 50px;
}


#register{
    left: 450px;
}

